<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="nav/nav.html :: css"></div>
    <link  rel="stylesheet" th:href="@{../../css/informesAgregar.css}">
    <title>Document</title>
</head>
<header th:replace="nav/nav.html :: nav"> </header>
<body>
   <form action="crearInforme" method="post" class="container">
  
  		<div class="row justify-content-center campos">
	        <b class="col-2">Informe tecnico Nº</b>
	        <input class="col-3" type="number" name="informeTecnicoN">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Area</b>
	        <input class="col-3" type="text" name="area">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Nombre tecnico</b>
	        <input class="col-3" type="text" name="nombreTecnico">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Locacion</b>
	        <input class="col-3" type="text" name="locacion">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">N Antena</b>
	        <input class="col-3" type="text" name="nAntena">
        </div>
        <div class="row justify-content-center campos">
        	<b class="col-2">N Equipo</b>
        	<input class="col-3" type="number" name="nEquipo">
        </div>
        <div class="row justify-content-center campos">
        	<b class="col-2">Equipo</b>
        	<input class="col-3" type="text" name="equipo"></div>
       
        <div class="row justify-content-center campos">
          	<b class="col-2">Hora llegada</b>
        	<input class="col-3" type="time" name="horaLlegada">
        </div>
        <div class="row justify-content-center campos">
        	<b class="col-2">Hora salida</b>
        	<input class="col-3" type="time" name="horaSalida">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Empresa</b>
	        <select name="empresa"  class="col-3" >
			  <option   value="buje">Buje</option>
			  <option   value="fnet" selected>Fnet</option>
			</select>
        </div>
         <div class="row justify-content-center campos">
	        <b class="col-2">Recomendacion</b>
	        <input class="col-3" type="text" name="recomendacion">
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Tareas</b>
	        <select name="tareas"  class="col-3" >
			  <option   value="garantia">Garantia</option>
			  <option   value="mtto-mensual" selected>MTTO.mensual</option>
			  <option   value="reparacion">Reparacion</option>
			</select>
        </div>
        <div class="row justify-content-center campos">
	        <b class="col-2">Descripcion tarea</b>
	        <textarea class="col-3" type="text" name="descripcion"></textarea>
        </div>
         <div class="row justify-content-center campos">
       		 <button class="col-3">Crear</button>
        </div>
	</form>
</body>
</html>