<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="nav/nav.html :: css"></div>
    <link  rel="stylesheet" th:href="@{../css/InformesLista.css}">
    <title>Document</title>
</head>
<header th:replace="nav/nav.html :: nav"> </header>
<body>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Numero informe</th>
      <th scope="col">Empresa</th>
      <th scope="col">Equipo</th>
      <th scope="col">Fecha Informe</th>
      <th scope="col">Informacion</th>
      <th scope="col">Editar</th>
      <th  th:if="${!altas}" scope="col">Alta</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr  th:each = "informe : ${informes}" th:if="${informe.alta}" >
      <th  th:value="${informe.idInforme}" th:text="${informe.informeTecnicoN}" scope="row" name="id"></th>
      <td  th:text="${informe.empresa}"></td>
       <td  th:text="${informe.equipo}"></td>
      <td  th:text="${#dates.format(informe.fechaCreacion, 'dd/MM/yy ')}"></td>
      <td><a class="buttonImprimir" th:href="@{imprimir/}+${informe.idInforme}"></a></td>
        <td><a class="buttonEdit" th:href="@{editar/}+${informe.idInforme}"></a></td>
     	<form  action="altaBaja" method="POST">	
		    <input class="fechaCampo" th:value="${informe.idInforme}" hidden name="id" />
		    <td><button class="buttonCruz"> </button></td>
	    </form>
    </tr>
  </tbody>

</table>
  
</body>
</html>